body{
  background-color: lightblue;
}
h1{
    color: darkblue;
    text-align: center;
}
.portal{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20em;
  width: 20%;
}
.portal > a{
  text-decoration: none;
  border-radius: 7px;
  color: lightblue;
  background: darkblue;
  padding: 0.5em;
  width: 50%;
}
.portal > a + a{
  margin-left: 10px;
}
.login-form{
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.login-form > input{
  margin-top: 10px;
}
.login-form > input:last-of-type{
  margin: 10px auto;
  width: 50%;
  padding: 2em;
}
.signup-form{
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.signup-form > input{
  margin-top: 10px;
  height: 1.8em;
}
.signup-form > input:last-of-type{
  display: block;
  width: 50%;
  margin: 10px auto;
  color: lightblue;
  background-color: darkblue;
  border: none;
  border-radius: 7px;
}
.todos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoItem {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.todoItem > div {
  display: flex;
  flex-direction: column;

}
.todoItem > .todo-body > span + span{
  width: 15em;
  overflow-wrap: normal;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}
.todoItem > div + div{
  margin-left: 30px;
}
.todoItem > div + div > span{
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.todoItem > div > span.low{
  border: solid green 1px;
  background-color: green;
}
.todoItem > div > span.medium{
  border: solid yellow 1px;
  background-color: yellow;
}
.todoItem > div > span.high{
  border: solid red 1px;
  background-color: red;
}
.del{
  border: solid grey 1px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}
.del > i{
  display: flex;
  justify-content: center;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
body > h2 + h2{
  margin-top: 20px;
}
h2{
  text-align: center;
}
form{
  text-align: center;
}
body > div{
  padding: 1em;
  text-align: center;
}
.logout-button{
  margin-top: 2em;
}
.logout-button > a{
  text-decoration: none;
  border-radius: 7px;
  background: darkblue;
  color: lightblue;
  padding: 1em;
}
